/* 283044 Dark Blue
   78a1bb Light Blue
   ebe5ee Light eggshellish
   bea89e Light Brown
   8b786d Darker but still light brown
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clr {
    clear: both;
}

html,body {
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    line-height: 1.8em;
}

h1,h2,h3 {
    padding-bottom: 15px;
}

.container {
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding: 0 20px;
}

/* Navbar */
#navbar {
    background: #283044;
    color: #ebe5ee;
    overflow: auto;
}

#navbar h1 {
    padding-top: 20px;
    float: left;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
    padding: 20px;
}

#navbar ul li:hover {
    background: #bea89e;
}

#header-splash {
    background: url('../assets/bg_me.jpg') no-repeat
     center center/cover;
    height: 800px;
}

#header-splash-container {
    max-width: 1200px;
    margin: auto;
}

#header-splash-left {
    width: 45%;
    padding: 90px 0 0 100px;
}

#header-splash-left h1 {
    font-size: 40px;
    color: #283044;
}

#header-splash-left p {
    font-size: 18px;
    padding: 10px 0 20px 0;
}

#header-splash-button {
    text-decoration: none;
    padding: 10px;
    background: #bea89e;
    color: #283044;
    border-radius: 5px;
}

#header-splash-button:hover {
    background: #8b786d;
}

/* About Section */

#about-section {
    background: #283044;
    color: #ebe5ee;
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px 0 300px 0;
    text-align: center;
}

.bg-brown {
    background: #bea89e;
}

.bg-blue {
    background: #283044;
}

#about-section .box i {
    padding-bottom: 20px;
}

.text-secondary {
    color: #283044;
}
